<h2>User Created Lists:</h2>

<div class="register-container">
  <form [formGroup]="listForm" class="register-form">
      <mat-form-field class="listname-input-field">
        <mat-label>Enter new list name</mat-label>
        <input matInput placeholder="" formControlName="listname" required>
        <mat-error *ngIf="listForm.controls['listname'].hasError('required')">
          List name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="tracks-input-field">
        <mat-label>tracks</mat-label>
        <input matInput placeholder="" formControlName="tracks">
        <mat-error *ngIf="listForm.controls['tracks'].hasError('required')">
          tracks are <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="description-input-field">
          <mat-label>description</mat-label>
        <input matInput placeholder="" formControlName="description">  
      </mat-form-field>
      <!-- <mat-form-field appearance="fill">
        <mat-label>Privacy type</mat-label>
        <select matNativeControl [(ngModel)]="selectedType" name="type">
          <option *ngFor="let p of privacy" [value]="p.privTypes">
            {{p.privTypes}}
          </option>
        </select>
      </mat-form-field> -->
      <button 
          mat-raised-button 
          color="primary" 
          class="login-btn" 
          [disabled]="(!listForm.value.listname || !listForm.value.tracks)"
          (click)="createNewPlaylist()">
          Create
      </button>
  </form>
</div>



<!-- <div class="list-container">

        <mat-form-field class="listname-field">
          <mat-label>ListName</mat-label>
          <input matInput placeholder="" #listname>
        </mat-form-field>
      
        <mat-form-field class="tracks-field">
            <mat-label>Tracks</mat-label>
          <input matInput placeholder="" #tracks>
        </mat-form-field>
        <mat-form-field class="description-field">
            <mat-label>Description</mat-label>
          <input matInput placeholder="" #description>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Privacy type</mat-label>
          <select matNativeControl [(ngModel)]="selectedType" name="type">
            <option *ngFor="let p of privacy" [value]="p.privTypes">
              {{p.privTypes}}
            </option>
          </select>
        </mat-form-field>

        <button mat-raised-button color = 'primary' (click)="createNewPlaylist(listinfo)">Create</button> 
        
        

</div> -->
<button mat-raised-button color = 'primary' (click)="getList(userid)">Get my lists</button>

<table *ngIf="lists?.length" mat-table
       [dataSource]="lists" multiTemplateDataRows
       class="mat-elevation-z8">
       <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplayUserPlaylists">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>
      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="expand row" (click)="(expandedElementUserPlaylists = expandedElementUserPlaylists === element ? null : element); $event.stopPropagation()">
            <mat-icon *ngIf="expandedElementUserPlaylists !== element">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedElementUserPlaylists === element">keyboard_arrow_up</mat-icon>
          </button>
        </td>
      </ng-container>
    
      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpandUserPlaylists.length">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElementUserPlaylists ? 'expanded' : 'collapsed'">
            <div class="example-element-diagram">
              <div class="example-element-track_title"> {{element.listname}} </div>
              <div class="example-element-visible"> {{element.visible}} </div>
              <div class="example-element-description"> {{element.description}} </div>
            </div>
            <div class="example-element-track_duration">
              <span *ngIf="element.tracks.length>0">{{element.tracks[0].track_title}}
                <a mat-button target="_blank" (click)="goToYoutubeplaylist(element.tracks[0].track_title)">Play on YouTube</a> 
                <a mat-button target="_blank" (click)="edittrack(element.tracks[0].track_id,element.listid,'0',userid)">remove</a> 
              </span>
              <br>
              <span *ngIf="element.tracks.length>1">{{element.tracks[1].track_title}}
                <a mat-button target="_blank" (click)="goToYoutubeplaylist(element.tracks[1].track_title)">Play on YouTube</a> 
                <a mat-button target="_blank" (click)="edittrack(element.tracks[1].track_id,element.listid,'0',userid)">remove</a> 
              </span>
              <br>
              <span *ngIf="element.tracks.length>2">{{element.tracks[2].track_title}}
                <a mat-button target="_blank" (click)="goToYoutubeplaylist(element.tracks[2].track_title)">Play on YouTube</a> 
                <a mat-button target="_blank" (click)="edittrack(element.tracks[2].track_id,element.listid,'0',userid)">remove</a> 
              </span>
              <br>
              <span *ngIf="element.tracks.length>3">{{element.tracks[3].track_title}}
                <a mat-button target="_blank" (click)="goToYoutubeplaylist(element.tracks[3].track_title)">Play on YouTube</a> 
                <a mat-button target="_blank" (click)="edittrack(element.tracks[3].track_id,element.listid,'0',userid)">remove</a> 
              </span>
              <br>
              <span *ngIf="element.tracks.length>4">{{element.tracks[4].track_title}}
                <a mat-button target="_blank" (click)="goToYoutubeplaylist(element.tracks[4].track_title)">Play on YouTube</a> 
                <a mat-button target="_blank" (click)="edittrack(element.tracks[4].track_id,element.listid,'0',userid)">remove</a> 
              </span>
              <br>
              <span *ngIf="element.tracks.length>5">{{element.tracks[5].track_title}}
                <a mat-button target="_blank" (click)="goToYoutubeplaylist(element.tracks[5].track_title)">Play on YouTube</a> 
                <a mat-button target="_blank" (click)="edittrack(element.tracks[5].track_id,element.listid,'0',userid)">remove</a> 
              </span>
              <br>
              <span *ngIf="element.tracks.length>6">{{element.tracks[6].track_title}}
                <a mat-button target="_blank" (click)="goToYoutubeplaylist(element.tracks[6].track_title)">Play on YouTube</a> 
                <a mat-button target="_blank" (click)="edittrack(element.tracks[6].track_id,element.listid,'0',userid)">remove</a> 
              </span>
              <br>
              <span *ngIf="element.tracks.length>7">{{element.tracks[7].track_title}}
                <a mat-button target="_blank" (click)="goToYoutubeplaylist(element.tracks[7].track_title)">Play on YouTube</a> 
                <a mat-button target="_blank" (click)="edittrack(element.tracks[7].track_id,element.listid,'0',userid)">remove</a> 
              </span>
              <br>
              <span *ngIf="element.tracks.length>8">{{element.tracks[8].track_title}}
                <a mat-button target="_blank" (click)="goToYoutubeplaylist(element.tracks[8].track_title)">Play on YouTube</a> 
                <a mat-button target="_blank" (click)="edittrack(element.tracks[8].track_id,element.listid,'0',userid)">remove</a> 
              </span>
              <br>
              <span *ngIf="element.tracks.length>9">{{element.tracks[9].track_title}}
                <a mat-button target="_blank" (click)="goToYoutubeplaylist(element.tracks[9].track_title)">Play on YouTube</a> 
                <a mat-button target="_blank" (click)="edittrack(element.tracks[9].track_id,element.listid,'0',userid)">remove</a> 
              </span>
              <span *ngIf="element.tracks.length>10">{{element.tracks[10].track_title}}
                <a mat-button target="_blank" (click)="goToYoutubeplaylist(element.tracks[10].track_title)">Play on YouTube</a> 
                <a mat-button target="_blank" (click)="edittrack(element.tracks[10].track_id,element.listid,'0',userid)">remove</a> 
              </span>
              <span *ngIf="element.tracks.length>11">{{element.tracks[11].track_title}}
                <a mat-button target="_blank" (click)="goToYoutubeplaylist(element.tracks[11].track_title)">Play on YouTube</a> 
                <a mat-button target="_blank" (click)="edittrack(element.tracks[11].track_id,element.listid,'0',userid)">remove</a> 
              </span>
              <span *ngIf="element.tracks.length>12">{{element.tracks[12].track_title}}
                <a mat-button target="_blank" (click)="goToYoutubeplaylist(element.tracks[12].track_title)">Play on YouTube</a> 
                <a mat-button target="_blank" (click)="edittrack(element.tracks[12].track_id,element.listid,'0',userid)">remove</a> 
              </span>
              <span *ngIf="element.tracks.length>13">{{element.tracks[13].track_title}}
                <a mat-button target="_blank" (click)="goToYoutubeplaylist(element.tracks[13].track_title)">Play on YouTube</a> 
                <a mat-button target="_blank" (click)="edittrack(element.tracks[13].track_id,element.listid,'0',userid)">remove</a> 
              </span>
              <span *ngIf="element.tracks.length>14">{{element.tracks[14].track_title}}
                <a mat-button target="_blank" (click)="goToYoutubeplaylist(element.tracks[14].track_title)">Play on YouTube</a> 
                <a mat-button target="_blank" (click)="edittrack(element.tracks[14].track_id,element.listid,'0',userid)">remove</a> 
              </span>
              <span *ngIf="element.tracks.length>15">{{element.tracks[15].track_title}}
                <a mat-button target="_blank" (click)="goToYoutubeplaylist(element.tracks[15].track_title)">Play on YouTube</a> 
                <a mat-button target="_blank" (click)="edittrack(element.tracks[15].track_id,element.listid,'0',userid)">remove</a> 
              </span>
              <span *ngIf="element.tracks.length>16">{{element.tracks[16].track_title}}
                <a mat-button target="_blank" (click)="goToYoutubeplaylist(element.tracks[16].track_title)">Play on YouTube</a> 
                <a mat-button target="_blank" (click)="edittrack(element.tracks[16].track_id,element.listid,'0',userid)">remove</a> 
              </span>
              <span *ngIf="element.tracks.length>17">{{element.tracks[17].track_title}}
                <a mat-button target="_blank" (click)="goToYoutubeplaylist(element.tracks[17].track_title)">Play on YouTube</a> 
                <a mat-button target="_blank" (click)="edittrack(element.tracks[17].track_id,element.listid,'0',userid)">remove</a> 
              </span>
              <span *ngIf="element.tracks.length>18">{{element.tracks[18].track_title}}
                <a mat-button target="_blank" (click)="goToYoutubeplaylist(element.tracks[18].track_title)">Play on YouTube</a> 
                <a mat-button target="_blank" (click)="edittrack(element.tracks[18].track_id,element.listid,'0',userid)">remove</a> 
              </span>
              <span *ngIf="element.tracks.length>19">{{element.tracks[19].track_title}}
                <a mat-button target="_blank" (click)="goToYoutubeplaylist(element.tracks[19].track_title)">Play on YouTube</a> 
                <a mat-button target="_blank" (click)="edittrack(element.tracks[19].track_id,element.listid,'0',userid)">remove</a> 
              </span>
            </div>
            <mat-form-field class="addtrack-field">
              <mat-label>AddTrack</mat-label>
              <input matInput placeholder="" #trackid>

            </mat-form-field>

            <a mat-button (click)="edittrack(trackid.value,element.listid,'1',userid)">add</a>


            <mat-form-field class="review-field">
              <mat-label>Review</mat-label>
              <input matInput placeholder="" #reviewing>
            </mat-form-field>
            <a mat-button (click)="review(reviewing.value,element.listid)">submit</a>

            <mat-form-field appearance="fill">
              <mat-label>Rate Mark</mat-label>
              <select matNativeControl [(ngModel)]="selectedRate" name="type">
                <option *ngFor="let r of rate" [value]="r.ratemark">
                  {{r.ratemark}}
                </option>
              </select>
            </mat-form-field>

            <a mat-button (click)="rating(selectedRate,element.listid)">submit</a>
            <span *ngIf="element.reviews.length>1">
            <h2>reviews:</h2>
             </span>

          </div>

          <a mat-button target="_blank" (click)="deletelist(userid,element.listid)">DELETE</a>
          <div class="example-element-track_duration">
            <span *ngIf="(element.reviews.length>1 && element.reviews[1].hidden=='0') " >{{element.reviews[1].content}} 
              <span *ngIf="element.reviews[1].hidden=='0'&&role=='1'">
                <a mat-button target="_blank" (click)="hide(element.listid,'2')">hide</a>
              </span>
              <span *ngIf="element.reviews[1].hidden=='1'&&role=='1'">
                <a mat-button target="_blank" (click)="unhide(element.listid,'2')">unhide</a>
              </span>
            </span>


          </div>
          <span *ngIf="element.visible=='0'">
          <a mat-button target="_blank" (click)="publicing(userid)">PUBLIC</a>
          </span>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpandUserPlaylists"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpandUserPlaylists;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElementUserPlaylists === element"
          (click)="expandedElementUserPlaylists = expandedElementUserPlaylists === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
