<h2>Admin Management Page</h2>
<mat-form-field class="example-form-field">
    <mat-label>Enter a user's email</mat-label>
    <input matInput type="text" [(ngModel)]="email">
    <button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="email=''">
      <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
<button 
    mat-raised-button 
    color="primary" 
    class="update-admin-btn" 
    [disabled]="!email"
    (click)="grantPrivilege(email)"
>
  Grant Admin Privilege
</button>

<mat-form-field class="example-form-field">
  <mat-label>Enter a user's email</mat-label>
  <input matInput type="text" [(ngModel)]="deactivateEmail">
  <button *ngIf="deactivateEmail" matSuffix mat-icon-button aria-label="Clear" (click)="deactivateEmail=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<button 
    mat-raised-button 
    color="primary" 
    class="update-password-btn" 
    [disabled]="!deactivateEmail"
    (click)="deactivateOrActivateUser(deactivateEmail, '0')"
>
  Deactivate
</button>

  
<mat-form-field class="example-form-field">
    <mat-label>Enter a user's email</mat-label>
    <input matInput type="text" [(ngModel)]="activateEmail">
    <button *ngIf="activateEmail" matSuffix mat-icon-button aria-label="Clear" (click)="activateEmail=''">
      <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
<button 
    mat-raised-button 
    color="primary" 
    class="update-password-btn" 
    [disabled]="!activateEmail"
    (click)="deactivateOrActivateUser(activateEmail, '1')"
>
  Activate
</button>

<mat-form-field class="example-form-field">
    <mat-label>Update Your Password Here</mat-label>
    <input matInput type="text" [(ngModel)]="password">
    <button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
      <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
<button 
    mat-raised-button 
    color="primary" 
    class="update-password-btn" 
    [disabled]="!password"
    (click)="updatePassword(password)"
>
  Update
</button>
<mat-divider></mat-divider>

<form class="policy-form">
  <mat-form-field class="policy-form-field">
    <mat-label>Update Policy Here</mat-label>
    <textarea class="policy-input" matInput [(ngModel)]="newPolicy" name="textArea"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" class="types-select">
    <mat-label>Types</mat-label>
    <mat-select [formControl]="selectType">
      <mat-option *ngFor="let type of types" [value]="type.value">{{ type.label }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button 
      mat-raised-button 
      type="button"
      color="primary" 
      class="policy-update-btn" 
      [disabled]="!selectType.value"
      (click)="updatePolicy()"
  >
    Update Policy
  </button>
</form>

<mat-divider></mat-divider>
<h2>DMCA notice & takedown Tool</h2>

<mat-divider></mat-divider>
<h3>Instructions</h3>
<p>
  1. Site Managers can view all the <strong>Takedown Requests, Infringement Notices and Dispute Claims</strong> sent from website
    visitors by using the <strong>three buttons below</strong>.<br>
  2. After carefully determine the content of these messages, Site Managers can use the existence tools to take down the resources
    or punish the users who viloates the policies.<br>
  3. Each playlists and reviews can be set to <strong>hidden</strong> status thus it cannot be viewed by the public. <br>
  4. The account of users who viloate the policies, can be set to <strong>deactivate</strong> by entering the email of them to the above input filed. <br>
  5. If the evidence <strong>cannot prove the user is guilty</strong>, the account of this user also can be <strong>recover</strong> by using the same logic as above.<br>
  6. If the evidence indicates <strong>a different fact than the content of the message</strong>, Site Manager is obligate to reach the send by email to explain the reason.
</p>
<mat-divider></mat-divider>
<div class="btns-wrapper">
  <button class="msg-btn" mat-raised-button color="primary" (click)="getAllMessages('request')">Get Takedown Requests</button>
  <button class="msg-btn" mat-raised-button color="primary" (click)="getAllMessages('notice')">Get Infringement Notices</button>
  <button class="msg-btn" mat-raised-button color="primary" (click)="getAllMessages('dispute')">Get Dispute Claims</button>
</div>

<h3>Messages</h3>
<mat-divider></mat-divider>

<mat-table [dataSource]="messages">
  <!-- Header and Row Declarations -->
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <!-- Type -->
  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.type }} </mat-cell>
  </ng-container>
  <!-- Contact -->
  <ng-container matColumnDef="contact">
    <mat-header-cell *matHeaderCellDef> Contact </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.contact }} </mat-cell>
  </ng-container>
  <!-- Creation Date -->
  <ng-container matColumnDef="creationDate">
    <mat-header-cell *matHeaderCellDef> Creation Date </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ formatDate(row.creationDate) }} </mat-cell>
  </ng-container>
  <!-- Content -->
  <ng-container matColumnDef="content">
    <mat-header-cell *matHeaderCellDef> Content </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.content }} </mat-cell>
  </ng-container>
</mat-table>
<mat-divider></mat-divider>