<div class="login-container">
    <form [formGroup]="loginForm" class="login-form">
        <mat-form-field class="email-input-field">
          <mat-label>Email</mat-label>
          <input matInput placeholder="" formControlName="email">
        </mat-form-field>
      
        <mat-form-field class="password-input-field">
            <mat-label>Password</mat-label>
          <input matInput placeholder="" formControlName="password">
        </mat-form-field>
        <button 
          mat-raised-button 
          color="primary" 
          class="login-btn" 
          [disabled]="!loginForm.value.email || !loginForm.value.password"
          (click)="submitLoginForm()"
        >
          Login
        </button>

        <a class="button google" href="http://localhost:5000/login/google">Sign in with Google</a>

        <button mat-raised-button color="accent" class="register-btn" [routerLink]="['/register']">Register</button>
        <button 
            *ngIf="!verify"
            mat-raised-button 
            color="primary" 
            class="email-btn" 
            (click)="verifyEmail()"
        >
          Verify Your Email Here
        </button>
    </form>
</div>